<p>users-details works!</p>

<div>
  <h4>This is ip address {{userIpAddress}}</h4>
  <h4>This is ip address {{data.continent_name}}</h4>
  <h4>This is ip address {{data.country_name}}</h4>
  <h4>This is ip address {{data.region_name}}</h4>
</div>


<table>
  <tr>
    <th>Continent Name</th>
    <th>Country Name</th>
    <th>City Name</th>
  </tr>
  <tr>
    <td>{{userIpAddress}}</td>
    <td>{{data.continent_name}}</td>
    <td>{{data.country_name}}</td>
    <td>{{data.region_name}}</td>
  </tr>

</table>


  <!-- <p>why is image dissapper</p>
  <img src="/user-weather/src/assets/images/cold1.jpg">
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fillustration%2Fhigh-temperature.html&psig=AOvVaw0RgjrikYXpAHwGmsqcgLK0&ust=1653994397735000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLis8_qNh_gCFQAAAAAdAAAAABAJ" alt="" > -->



