<!-- <app-users-details> hello from user app details </app-users-details>
<app-weather-detection>hello from weather</app-weather-detection> -->
<ul>
  <li><a class="active" href="#home">Weathery</a></li>
  <li><a href="">{{data.country_name}}</a></li>
  <li><a href="#contact">About</a></li>
</ul>

<div class="image">
 <img class="back" src="../assets/istockphoto-462881839-612x612.jpg"  alt="" />
  <!-- <P >Hello in Weather Detection application</P>
  <P >It is Our pleasure to help you to detect your place </P>
  <P >and determine the current weather and you can also chose any city in your country</P>
  <p>And get the weather on it</p> -->
</div>
  <!-- for user details -->
  <!-- <div>
    <h4>This is ip address {{userIpAddress}}</h4>
    <h4>This is ip address {{data.continent_name}}</h4>
    <h4>This is ip address {{data.country_name}}</h4>
    <h4>This is ip address {{data.region_name}}</h4>
  </div> -->

<!-- <div>
  <li *ngFor="let city of cityList"></li>
</div> -->
<!-- <app-weather-detection>Hello from weather detection app</app-weather-detection> -->

<!-- this is for body of weather currently-->
<div class="float-container">
 <div class="container float-child ">
  <div class="upperdata">
    <img src="../assets/hot1.jpg" alt="" *ngIf="14 > 15" />
    <img src="../assets/bluesky.jpg" alt="" />

    <div class="weather-data">
      <div class="location">{{data.region_name}}</div>
      <div class="temperature">{{ this.avgtempC }}°C</div>
    </div>
  </div>

  <div class="lowerdata">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">{{this.mintempC}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">{{this.maxtempC}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{this.humidity}}g.kg-1</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonphase.jpg" />
          <span>moon_phase</span>
        </div>
        <div class="info-block-value">{{this.moon_phase}}</div>
      </div>

      <br>
      <br>


      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonrise.jpg" />
          <span>moonrise</span>
        </div>
        <div class="info-block-value">{{this.moonrise}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonset.jpg" />
          <span>moonset</span>
        </div>
        <div class="info-block-value">{{this.moonset}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sunrise.jpg" />
          <span>sunrise</span>
        </div>
        <div class="info-block-value">{{this.sunrise}}</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sunset.jpg" />
          <span>sunset</span>
        </div>
        <div class="info-block-value">{{this.sunset}}</div>
      </div>



        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/feelslike.jpg" />
            <span>FeelsLike</span>
          </div>
          <div class="info-block-value">{{this.feelslikeC}}°C</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" />
            <span>Average temp</span>
          </div>
          <div class="info-block-value">{{this.avgtempC}}°C</div>
        </div>



    </div>
  </div>
</div>







<!-- for city search weather -->
<div class="container  child2">
  <div class="upperdata">
    <img src="../assets/hot1.jpg" alt="" *ngIf="14 > 15" />
    <img src="../assets/bluesky.jpg" alt="" />

    <div class="weather-data">
      <select (change)="onchangeselected($event)" [(ngModel)]="selected">
        <option *ngFor=" let item of cityList" >{{item}}</option>
      </select>
      <!-- <div class="location">{{data.region_name}}</div> -->
      <div class="temperature">{{ this.avgtempC2 }}°C</div>
    </div>
  </div>

  <div class="lowerdata">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">{{this.mintempC2}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">{{this.maxtempC2}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{this.humidity2}}g.kg-1</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonphase.jpg" />
          <span>moon_phase</span>
        </div>
        <div class="info-block-value">{{this.moon_phase2}}</div>
      </div>

      <br>
      <br>


      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonrise.jpg" />
          <span>moonrise</span>
        </div>
        <div class="info-block-value">{{this.moonrise2}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonset.jpg" />
          <span>moonset</span>
        </div>
        <div class="info-block-value">{{this.moonset2}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sunrise.jpg" />
          <span>sunrise</span>
        </div>
        <div class="info-block-value">{{this.sunrise2}}</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sunset.jpg" />
          <span>sunset</span>
        </div>
        <div class="info-block-value">{{this.sunset2}}</div>
      </div>



        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/feelslike.jpg" />
            <span>FeelsLike</span>
          </div>
          <div class="info-block-value">{{this.feelslikeC2}}°C</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" />
            <span>Average temp</span>
          </div>
          <div class="info-block-value">{{this.avgtempC2}}°C</div>
        </div>



    </div>
  </div>
</div>

</div>
<div>
  <P>Welcome to Weather Detection application ,It is Our pleasure to help you to detect your place,and determine the current weather and you can also choose any city in your country,And get the weather on it</P>
</div>






